<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Maxime Bordas Développeur{% endblock %}</title>
        <meta name="description" content="Développeur , étudiant  Maxime Bordas">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/portefolio/bootstrap/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/portefolio/css/myStylesheet.css') }}">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
            <script src="{{ asset('bundles/portefolio/bootstrap/js/bootstrap.js') }}"></script>
            <script src="{{ asset('bundles/portefolio/js/myJavascipt.js') }}"></script>
        {% endblock %}
    </body>
</html>
